<div class="left-float-container">
<h1 class="text-center mb-4">Start a new scoping session</h1>
<form>
  <div class="mb-4">
    <p>What are we scoping?</p>
    {{input
      value=scopeTopic
      placeholder="Scoping title..."
      class="input is-medium"
    }}
  </div>
  <div class="mb-4">
    <p>Brief description:</p>
    {{textarea value=scopeDescription placeholder="Brief description of task..." class="input"}}
  </div>
  <div class="flex-row">
    <button {{action "startSession"}} class="button is-primary {{isLoading}}" disabled={{isDisabled}}>{{buttonText}}</button>
    <button {{action "clearForm"}} class="button is-danger is-outlined">Cancel</button>
  </div>
</form>
</div>
{{outlet}}