
	<h4 style="margin-bottom: 10px;">Scoping:</h4>
  <h1 class="text-center" style="margin-top: 0px;">{{model.title}}</h1>
  <p class="text-center">{{model.description}}</p>
<form>
 	{{input type=text value=name placeholder='Your name...'}}
 	<br><br>
	{{#radio-button
	  value=1
	  groupValue=score
	  changed="scoreToggled"}}
	  1
	{{/radio-button}}

	{{#radio-button
	  value=2
	  groupValue=score
	  changed="scoreToggled"}}
	  2
	{{/radio-button}}
		{{#radio-button
	  value=3
	  groupValue=score
	  changed="scoreToggled"}}
	  3
	{{/radio-button}}
		{{#radio-button
	  value=5
	  groupValue=score
	  changed="scoreToggled"}}
	  5
	{{/radio-button}}
		{{#radio-button
	  value=8
	  groupValue=score
	  changed="scoreToggled"}}
	  8
	{{/radio-button}}
	<div>
		<button type="button" class="btn-info" id="id_button" {{action 'submitScope'}}>Submit</button>
	</div>
</form>

{{outlet}}